* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/024/669/482/small_2x/mountain-countryside-landscape-at-sunset-dramatic-sky-over-a-distant-valley-green-fields-and-trees-on-hill-beautiful-natural-landscapes-of-the-carpathians-generative-ai-variation-8-photo.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 2px;
}

button {
    background-color: #0a9396;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #94d2bd;
    transform: scale(1.1);
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

footer p {
    margin: 0;
}

.slide-out {
    animation: slideOut 1s forwards;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
